table:nth-child(even) {
    background-color: var(--element-color);
}
td, th, table {
    border: 1px solid var(--outline-color);
    color: var(--paragraph-color);
}
th {
    font-family: 'Open Sans', sans-serif;
    color: var(--header-color);
    font-size: 0.75em;
}
table {
    width: 100%;
    border-collapse: collapse;
}
