<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ORWELLIAN - Change Password</title>
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="https://dreamerslegacy.xyz/css/schema.min.css" referrerpolicy="noreferrer">
    </head>
    <body>
        <div class = "schema">
            <h1>ORWELLIAN</h1>
            <hr>
            <div class="message-box-container">
                <div class="message-box">
                    <h2>Change password.</h2>
                    <p>Please enter a new password below.</p>
                    <p style = "padding-top: 1%; padding-bottom: 1%; color: #ff4545;">{{ error }}</p>
                    <hr>
                    <div style = "padding-top: 8%; padding-bottom: 5%;">
                        <form action = "{{ url_for('change_password') }}" method = "POST">
                            <p>New:</p>
                            <input type = "password" name = "password" required>
                            <p>Confirm:</p>
                            <input type = "password" name = "password_affirm" required>
                            <input type = "submit">
                        </form>
                    </div>
                    <a class = "button" href = "{{ url_for('index') }}">Back</a>
                </div>
            </div>
        </div>
    </body>
</html>
